<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Businesses Index</title>
</head>
<body>
    <div class="index-header-div">
        <h1>All Businesses</h1>
        <a href="/businesses/new" class="add-business">Add Business</a>
    </div>
		<ul>
			<% allBusinesses.forEach(business => { %>
			<li>
				<h2>
					<a href="/businesses/<%= business._id %>">
						<%= business.name %>
					</a>
                    <% if (business.isVerified) { %>
                        ✅ 
                    <% } %>
				</h2>
				<p><strong>Category:</strong> <%= business.category %></p>
				<p><strong>Description:</strong> <%= business.description %></p>
				<p><strong>Location:</strong> <%= business.location %></p>
				<p><strong>Phone:</strong> <%= business.phoneNumber %></p>
				<% if (business.website) { %>
				<p>
					<strong>Website:</strong>
					<a href="<%= business.website %>" target="_blank">
                        <%= business.website %>
                    </a>
				</p>
				<% } %>
				<hr />
			</li>
			<% }) %>
		</ul>
</body>
</html>